/* 
Apple's Liquid Glass seems to add a certain level of reflection in addition to refraction.
The following code is only an approximation of the appearance of the edge and opacity of an element.
*/
.box {
  position: relative;
  cursor: pointer;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0.5px 0.5px 2px rgba(255, 255, 255, 0.7);
  pointer-events: none;
border-radius: 25px;
  /* fade just the shadow */
  mask-image: linear-gradient(to right, black, transparent 70%), 
              linear-gradient(to bottom, black, transparent 70%);
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(to right, black, transparent 70%), 
                      linear-gradient(to bottom, black, transparent 70%);
  -webkit-mask-composite: destination-in;
}


.box::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  pointer-events: none;

  /* bottom-right shadow */
  box-shadow: inset -0.5px -0.5px 2px rgba(255, 255, 255, 0.7);

  /* fade just the shadow (bottom + right sides) */
  mask-image:
    linear-gradient(to left, black, transparent 40%),
    linear-gradient(to top, black, transparent 40%);
  mask-composite: intersect;

  -webkit-mask-image:
    linear-gradient(to left, black, transparent 40%),
    linear-gradient(to top, black, transparent 40%);
  -webkit-mask-composite: destination-in;
}